@import "bourbon";
@import "neat/neat";
@import "font-awesome";

body {
  background: #e2ebf3;
  font-family: 'Amaranth', sans-serif;
}

.container{
	@include outer-container;

	.friend {
		@include span-columns(4);
		border: 1px solid black;
		height: 409px;
	}

	.make-friend{
		margin-left: 36%;
		margin-top: 10%;
		padding: 5px;
		border-radius: 3px;
	}

	.friend img {
		width: 300px;
		margin-top: 50px;
		margin-left: 10px;
	}

	.totoro {
		@include span-columns(4);
		color: white;
		border: 1px solid black;
	}

	.totoro .health .healthAmt {
		position: absolute;
		left: 29px;
    z-index: 10;
    top: 20px;
    font-size: 26px;
    font-weight: bold;
	}

	.totoro img {
		width: 200px;
		margin-left: 65px;
	}

	.life {
		@include span-columns(4);
		@include omega();
		border: 1px solid black;
	}

	.life img {
		width: 345px;
		height: 300px;
	}

	.make-enemy {
		margin-left: 28%;
		margin-top: 10%;
		padding: 5px;
		border-radius: 3px;
	}

}


// Creates heart for health of Totoro

.health {
    position: relative;
    width: 100px;
    height: 90px;
}
.health:before,
.health:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: pink;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.health:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

// Hidden Classes

.friend-arena {
	@include span-columns(4);
	display: none;
	border: 1px solid black;

	.friend-choices button {
		display: block;
		margin: 10px;
	}
}

.enemy-arena {
	@include span-columns(4);
	@include omega();
	display: none;
	border: 1px solid black;

	.life-choices button {
		display: block;
		margin: 10px;
	}
}

.computer-enemy {
	@include span-columns(4);
	@include omega();
	display: none;
	border: 1px solid black;
}

.computer-friend {
	@include span-columns(4);
	display: none;
	border: 1px solid black;
}