@import "bourbon";
@import "neat/neat";
@import "font-awesome";

body {
  background: #fff0f3;
  font-family: 'Amaranth', sans-serif;
}

.container{
	@include outer-container;
	margin-top: 5%;

	h1 {
		text-align: center;
	}

	.friend {
		@include span-columns(6);
		height: 409px;

		h2 {
			margin-left: 5px;
			text-align: center;
		}
	}

	.make-friend{
		width: 200px;
		background: none;
		margin-left: 32%;
		margin-top: 10%;
		padding: 5px;
		border: 1px solid black;
		border-radius: 3px;
	}

	.friend img {
		width: 300px;
		margin-top: 50px;
		margin-left: 118px;
	}


	.life {
		@include span-columns(6);
		@include omega();

		h2 {
			text-align: center;
		}
	}

	.life img {
		width: 345px;
		height: 294px;
		margin-left: 94px;
	}

	.make-enemy {
		width: 200px;
		background: none;
		border: 1px solid black;
		margin-left: 34%;
		margin-top: 10%;
		padding: 5px;
		border-radius: 3px;
	}

}


// Creates heart for health of Totoro

.health {
    position: relative;
    width: 100px;
    height: 90px;
}
.health:before,
.health:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #e9517f;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.health:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

// Hidden Classes

	.f-instructions {
		max-width: 80%;
		margin: 5% auto;
		display: none;
		border: 1px solid black;
		border-radius: 3px;
		padding: 5px;

		button {
			width: 200px;
			background: none;
			margin-left: 39%;
			margin-bottom: 1%;
			padding: 5px;
			border: 1px solid black;
			border-radius: 3px;
		}
	}

	.e-instructions {
		max-width: 80%;
		margin: 5% auto;
		display: none;
		border: 1px solid black;
		border-radius: 3px;
		padding: 5px;

		button {
			width: 200px;
			background: none;
			margin-left: 39%;
			margin-bottom: 1%;
			padding: 5px;
			border: 1px solid black;
			border-radius: 3px;
		}
	}

	.totoro {
		@include span-columns(4);
		color: white;
		display: none;
	}

	.totoro .health .healthAmt {
		position: absolute;
		left: 29px;
    z-index: 10;
    top: 20px;
    font-size: 26px;
    font-weight: bold;
	}

	.totoro img {
		width: 200px;
		margin-left: 65px;
	}

.friend-arena {
	@include span-columns(4);
	display: none;
	background-color: white;

	h2 {
		margin-left: 5px;
	}

	.friend-choices button {
		display: block;
		margin: 10px;
		border: 1px solid black;
		border-radius: 3px;
		background: none;
	}
}

.enemy-arena {
	@include span-columns(4);
	@include omega();
	display: none;
	background-color: white;

	.life-choices button {
		display: block;
		margin: 10px;
		border: 1px solid black;
		border-radius: 3px;
		background: none;
	}
}

.computer-enemy {
	@include span-columns(4);
	@include omega();
	display: none;

	span {
		margin-left: 34%;
	}
}

.computer-friend {
	@include span-columns(4);
	display: none;

	span {
		margin-left: 34%;
	}
}

.ch {
	border: 1px solid black;
	border-radius: 3px;
	background-color: white;
	padding: 10px;
	font-size: 20px;
	max-width: 90%;
	margin: 10px auto;
}

.all-i-do-is-win {
	max-width: 80%;
	margin: 0 auto;
	display: none;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
}